@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextW01-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextW01-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextW01-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextW01-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextW01-Italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
